# Data Handling Notebook

We convert an Excel File with assets and corresponding allocation to a DataBase in order to be used in our App.

#### Input:
- Excel File calculateur_holdi.db stored in data

#### Output:
- SQLite database investment_data.db stored in data

In [2]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('data/investment_data.db')

# Create cursor object
cursor = conn.cursor()

# Create table for assets including returns, risk ratings, and allocations
cursor.execute('''
CREATE TABLE IF NOT EXISTS assets_return_allocation (
    asset_name TEXT PRIMARY KEY,
    return_rate REAL,
    risk_rating INTEGER,
    profile_prudent REAL,
    profile_dynamic REAL,
    age_20_24 REAL,
    age_25_29 REAL,
    age_30_34 REAL,
    age_35_39 REAL,
    age_40_44 REAL,
    age_45_49 REAL,
    age_50_54 REAL,
    age_55_59 REAL,
    age_60_64 REAL,
    age_65_up REAL
)
''')

# Commit changes and close connection
conn.commit()
conn.close()

In [2]:
import pandas as pd

# Connect to the database again
conn = sqlite3.connect('data/investment_data.db')

# Load data from an Excel file
df = pd.read_excel('data/calculateur_holdi.xlsx', sheet_name='Custom')

# Replace NaN with 0 for database compatibility
df.fillna(0, inplace=True)

# Insert data into the table
df.to_sql('assets_return_allocation', conn, if_exists='replace', index=False)

# Commit changes and close connection
conn.commit()
conn.close()

In [3]:
def get_asset_data():
    conn = sqlite3.connect('data/investment_data.db')
    df = pd.read_sql_query("SELECT * FROM assets_return_allocation", conn)
    conn.close()
    return df

# Usage
assets_data = get_asset_data()
assets_data

,FONDS PROPOSÉS A TERME,Taux,Notation du risque,Profil Prudent,Profil Dynamique,20 à 24 ans,25 à 29 ans,30 à 34 ans,35 à 39 ans,40 à 44 ans,45 à 49 ans,50 à 54 ans,55 à 59 ans,60 à 64 ans,65 ans et +
0,Obligations,0.0300,1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,SCPI,0.0650,2,0.10,-0.10,0.25,0.30,0.35,0.40,0.45,0.50,0.55,0.60,0.65,0.70
2,Crowdfunding Immo,0.0950,4,-0.05,0.05,0.18,0.15,0.13,0.10,0.09,0.07,0.05,0.05,0.03,0.00
3,Immobilier Fractionné,0.0700,3,0.00,0.00,0.05,0.05,0.05,0.05,0.04,0.04,0.03,0.02,0.01,0.00
4,Crowdlending,0.1200,5,-0.05,0.00,0.05,0.05,0.03,0.03,0.02,0.01,0.01,0.00,0.00,0.00
5,Atypique,0.0300,1,0.00,-0.04,0.06,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05
6,CAT,0.0300,1,0.04,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
7,ETF,0.1868,3,-0.03,0.05,0.40,0.39,0.38,0.36,0.34,0.32,0.30,0.28,0.26,0.25
8,Trading (120%),0.2500,5,0.00,0.02,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9,Cryptomonnaie (230%),0.3500,5,-0.01,0.02,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.00,0.00,0.00

In [5]:
conn.close()